:root {
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #FBBC05;
    --red: #EA4335;
    --green: #34A853;
    --blue: #4285F4;
    --dark: #101010;
    --gray: #202020;
    --light: #D2D2D2;
}


* {
    border-radius: 32px;
    border-width: 0px;
    outline: none;
    padding: 0;
    font-family: Roboto;
    font-size: 32px;
    color: var(--light);
}
body { background-color: var(--dark) }
textarea { resize: none }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { display: none }

.b-black   { background-color: var(--black) }
.b-light   { background-color: var(--light) }
.b-frame   { background-color: var(--gray) }
.b-element { background-color: var(--dark) }

.p-null     { position: fixed; top: 0px; left: 0px }
.p-null-10  { position: fixed; top: 10%; left: 0px }
.p-center   { position: relative; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) }
.p-center-h { position: relative; left: 50%; margin-right: -50%; transform: translate(-50%, 0) }
.p-center-a { position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) }

.s-fill   { border-collapse: collapse; height: 100%; width: 100% }
.s-95     { height: 95%; width: 95% }
.s-90     { height: 90%; width: 90% }
.s-normal { height: 90%; width: 40% }
.s-large  { height: 900px; width: 600px }
.s-big    { height: 860px; width: 560px }

.h-10  { height: 10% }
.h-20  { height: 20% }
.h-30  { height: 30% }
.h-70  { height: 70% }
.h-80  { height: 80% }
.h-90  { height: 90% }

.w-20  { width: 20% }
.w-25  { width: 25% }
.w-45  { width: 45% }
.w-60  { width: 60% }
.w-90  { width: 90% }
.w-100 { width: 100% }

.c-center     { text-align: center }
.c-code       { font-family: 'Cascadia Mono'; font-size: 16px }
.c-margin-in5 { margin-inline: 5% }
.c-nav-bar    { padding-bottom: 32px }
.c-nav-button { color: var(--dark); border-top-left-radius: 0px; border-top-right-radius: 0px }
.c-t-border   { border: 2px solid var(--light); border-collapse: collapse }
.c-t-small    { font-size: 16px }

.box  { border-radius: 0 }
.hide { display: none }