:root {
  --black: #000000;
  --white: #FFFFFF;
  --yellow: #FBBC05;
  --red: #EA4335;
  --green: #34A853;
  --blue: #4285F4;
  --dark: #101010;
  --gray: #202020;
  --light: #D2D2D2;
}

* {
  border-collapse: collapse;
  border-radius: 32px;
  border-width: 0px;
  outline: none;
  padding: 0;
  margin: 0;
  color: var(--light);
  font-family: Roboto;
  font-size: 32px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { display: none }

body {
  background-color: var(--dark)
}
button {
  background-color: var(--dark);
  height: 100%;
  width: 100%;
}
input {
  background-color: var(--dark);
  text-align: center;
  height: 100%;
  width: 100%;
}
textarea {
  background: none;
  resize: none;
}
.fill {
  height: 100%;
  width: 100%;
}


.windowStart {
  background-color: var(--gray);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 900px;
  width: 600px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.windowNormal {
  background-color: var(--gray);
  position: relative;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.windowWide {
  background-color: var(--gray);
  position: relative;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 70%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.navigationPanel {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  border-radius: 0;
}
.navigationButton {
  background-color: var(--light);
  height: 100%;
  width: 100%;
  color: var(--dark);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.viewMain {
  position: fixed;
  top: 10%;
  left: 0;
  height: 90%;
  width: 100%;
  border-radius: 0;
}
.frameStart {
  position: relative;
  top: 50%;
  left: 50%;
  height: 860px;
  width: 560px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.frameJson {
  position: relative;
  top: 50%;
  left: 50%;
  height: 95%;
  width: 95%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  font-family: 'Cascadia Mono';
  font-size: 16px;
}
.frameFull {
  background-color: var(--dark);
  height: 100%;
  width: 100%;
}
.frameInner {
  position: relative;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.cellTimes {
  border: 1px solid var(--light);
  border-radius: 0;
  text-align: center;
}