:root {
  --black: #000000;
  --white: #FFFFFF;
  --yellow: #FBBC05;
  --red: #EA4335;
  --green: #34A853;
  --blue: #4285F4;
  --background: #101010;
  --accent: #FBBC05;
  --title: #808080;
  --text: #FFFFFF;
  --item: #202020;
}
