* {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto";
  font-size: 32px;
  border-collapse: collapse;
  border-radius: 24px;
  border-width: 0;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  outline: none;
  padding: 0;
  margin: 0;
}

input::-webkit-inner-spin-button {
  display: none
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
}

div {
  display: flex;
}

button {
  background-color: var(--accent);
  color: var(--item);
  font-weight: bold;
  padding: 8px;
}

input {
  font-size: 24px;
  padding: 8px;
  text-align: center;
}
