#view-start {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: safe center;
  justify-content: safe center;
  overflow: auto;
}

#view-main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 0;
}

#frame-times {
  width: 1000px;
}

  #frame-times div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

#frame-lessons {
  width: 1600px;
}

#frame-json {
  width: 1000px;
  position: relative;
}

  #frame-json:hover #button-copy {
    filter: opacity(0.5);
  }

    #frame-json:hover #button-copy:hover {
      filter: opacity(1);
    }

#button-copy {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 8px;
  right: 8px;
  filter: opacity(0);
}

#input-json {
  background-color: var(--color-background);
  height: 640px;
  width: 640px;
  border-radius: var(--radius-normal);
  padding: var(--gap-normal);
}

#text-json {
  background: none;
  min-height: 480px;
}

#popup-lessons {
  backdrop-filter: brightness(0.1);
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  position: fixed;
  overflow: auto;
  inset: 0;
}

  #popup-lessons section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

.button-text {
  background: none;
  color: var(--text);
  height: 100%;
  width: 100%;
  padding: 0;
}

.text-upright {
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.selected {
  background-color: var(--color-accent);
  color: var(--color-background);
  width: 360px;
  font-weight: bold;
}

.not-selected {
  background-color: var(--color-item);
  color: var(--color-title);
  width: 240px;
  font-weight: normal;
}

  .not-selected:hover {
    color: var(--color-text);
  }
