.json-input {
  height: 640px;
  width: 480px;
  font-family: "Cascadia Code";
  font-size: 16px;
  padding: 16px;
  resize: none;
}

.json-text {
  background: none;
  height: 720px;
  width: 540px;
  font-family: "Cascadia Code";
  font-size: 16px;
  border-radius: 0;
  resize: none;
}

.selected {
  background-color: var(--accent);
  color: var(--item);
  width: 360px;
  font-weight: bold;
  transition: all 500ms;
}

.not-selected {
  background-color: var(--item);
  color: var(--title);
  width: 240px;
  font-weight: normal;
  transition: all 500ms;
}

  .not-selected:hover {
    color: var(--text);
  }
