#view-start {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: safe center;
  justify-content: safe center;
  overflow: auto;
}

#view-main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 0;
}

#grid-times {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#popup-lessons {
  backdrop-filter: brightness(0.1);
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  position: fixed;
  overflow: auto;
  inset: 0;
}

  #popup-lessons section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

.button-text {
  background: none;
  color: var(--text);
  height: 100%;
  width: 100%;
  padding: 0;
}

.text-upright {
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.selected {
  background-color: var(--color-accent);
  color: var(--color-background);
  width: 360px;
  font-weight: bold;
}

.not-selected {
  background-color: var(--color-item);
  color: var(--color-title);
  width: 240px;
  font-weight: normal;
}

  .not-selected:hover {
    color: var(--color-text);
  }
